<%= render 'layouts/error', :object => @answer %>

<%= form_for [@question, @answer] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
